@import '../../style/mixins.scss';
@import '../../style/style.scss';

.hero {
    min-height: 100vh;
    display: flex;
    position: relative;
    @include adaptiveValue("padding-top", 120, 80);
    @include adaptiveValue("padding-bottom", 800, 100);
    // .hero__container
    &__container {
        position: relative;
    }
    // .hero__body
    &__body {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include adaptiveValue("row-gap", 50, 20);
    }
    // .hero__titles
    &__titles {
        position: relative;
        font-weight: 300;
        @include adaptiveValue("font-size", 200, 40);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-family: "Cormorant";
        color: #fff;
    }
    // .hero__title--up
    &__title--up {
        position: relative;
        z-index: 1;
    }
    // .hero__title--down
    &__title--down {
        position: relative;
        z-index: 4;
    }
    &__text {
        position: relative;
        z-index: 4;
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 12);
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff
    }
    &__action {
        position: relative;
        z-index: 4;
    }
    &__flowers {
    }
    &__flower {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 2;
    }
    &__flower-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 0;
    }
    &__decor-ping {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;
    }
    &__decor-green {
        position: absolute;
        z-index: 3;
        left: 5%;
        top: 15%;     
    }
    &__decor-signature {
        position: absolute;
        z-index: 3;
        bottom: 0;
        right: 15%;
    }
}
