@import '../../style/mixins.scss';
@import '../../style/style.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    &--scrolled {
        background-color: #000;
    }
    // .header__container
    &__container {
        @include adaptiveValue("min-height", 60, 40);
        display: grid;
        grid-template-columns: auto auto 1fr;
        @include adaptiveValue("column-gap", 60, 30, 0, 1400, 991);
        align-items: center;
        &--desktop {
            @media (max-width: em(850)){
                display: none;      
            }
        }
        &--mobile {
            display: none;
            @media (max-width: em(850)){
                display: grid;      
                grid-template-columns: 1fr 1fr 1fr;

            }
        }
    }
    &__logo{
        @include adaptiveValue("height", 60, 40);
        position: relative;
        @media (max-width: em(850)){
            display: none;      
        }
    }
    // .header__menu
    &__menu {
        display: flex;
        align-items: center;
    }
    // .header__info
    &__info {
        display: flex;
        column-gap: toRem(20);
        align-items: center;
        @media (max-width: em(850)){
            justify-self: end;      
        }
    }
    &__shop{
        display: flex;
        justify-content: end;
    }
}
.menu {
    &--desktop {
        
    }
    &--mobile {

    }
    // .menu__body
    &__body {
        display: flex;
        @include adaptiveValue("column-gap", 50, 25, 0, 1110, 991);
        &--desktop {
            @media (max-width: em(850)) {
                display: none;
            }     
        }
        &--mobile {
            display: none;
            @media (max-width: em(850)){
                display: block;
                position: fixed;
                width: 65%;
                height: 100%;
                left: -100%;
                top: 0;
                overflow: auto;
                padding: toRem(10) toRem(10) toRem(20) toRem(10);
                transition: left 0.3s;    
                background-color: #000;  
                flex-direction: column;
                &.body-open {
                    left: 0;    
                }
            }
        }  
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
        @media (min-width: em(850)){
            display: none;   
        }
    }
    &__logo {
        img {
            @include adaptiveValue("height", 60, 50);
            position: relative; 
        }     
    }
    &__search {
        flex: 1 1 auto;
        position: relative;
        background-color: transparent;
        
        
        &--open {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &--close {
            display: none;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
        }
        input {
            width: toRem(100);
            padding: toRem(5) toRem(25) toRem(5) toRem(30);
            font-weight: 400;
            font-size: toRem(14);
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #fff;
            transition: all 0.3s ease;
            &:focus {
                border-bottom: 1px solid #555;
                outline: none;
            }
            &:focus + .menu__search--close{
                display: block;
            }
        }
        @media (max-width: em(850)){   
            margin-bottom: toRem(10);
        }
    }
    // .menu__list
    &__list {
        display: flex;
        @include adaptiveValue("column-gap", 40, 15, 0, 1400, 850);
        align-items: center;
        flex-wrap: wrap;
        row-gap: toRem(10);

        @media (max-width: em(850)){
            flex-direction: column;      
            align-items: start;
            &::after {
                content: '';
                width: toRem(100);
                height: toRem(1);
                background-color: #555;      
            }    
        }
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        display: inline-block;
        font-weight: 400;
        font-size: toRem(14);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        transition: all 0.3s ease;
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: $cyanic;    
            }
        }
    }
    &__footer{
        display: none;
        @media (max-width: em(850)){
            margin-top: toRem(20);
            display: block;
        }
    }
}
.info-menu {
    justify-content: space-between; 
    &__content {
        display: flex;
        gap: toRem(20);
        opacity: 0;
        visibility: none;
    }
    // .info-menu__call
    &__call {
        img {
            width: toRem(18);
            height: toRem(18);
            display: block;
        }
        display: flex;
        align-items: center;
        gap: toRem(10);
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: color 0.3s ease;
        @media (any-hover: hover){
            &:hover{
                color: $cyanic;       
            }
        }
        @media (max-width: em(850)){
              display: none;
        }
    }
    // .info-menu__shop
    &__shop {
        padding: toRem(18);
        position: relative;
        &-icon {
        }
        &-buy {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: toRem(9);
            top: toRem(10);
            width: toRem(18);
            height: toRem(18);
            background-color: $cyanic;
            border-radius: 50%;
            font-weight: 400;
            font-size: toRem(12);
            letter-spacing: 0.04em;
            color: #142b2b;
        }
    }
}

.footer-menu {
    &__info {
        display: grid;
        gap: toRem(10);
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }
 // .footer-menu__info-item
    &__info-item {
    }

    // .footer-menu__info-link
    &__info-link {
        font-size: toRem(14);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $cyanic;
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .footer-menu__info-text
    &__info-text {
        max-width: toRem(181);
        text-transform: uppercase;
        font-weight: 300;
        font-size: toRem(10);
        letter-spacing: 0.1em;
        color: #fff;
        line-height: 150%;
    }
	
    // .footer-menu__politics
	&__politics {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
	}

	// .footer-menu__confidantial
	&__confidantial {
        font-size: toRem(10);
        letter-spacing: 0.04em;
        color: #555;
	}
     
    // .footer-menu__contacts
    &__contacts {
    }
    
    // .footer-menu__phone
    &__phone {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        a {
            font-weight: 400;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-decoration: underline;
            color: #fff;
        }
    }
    
     // .footer-menu__icons
    &__icons {
        display: flex;
        gap: toRem(20)
    }
    
    // .footer-menu__icon
    &__icon {
    }
}

//Burger Icon
.icon-menu {
	@media (max-width: em(850)) {
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: $cyanic;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		&.menu-open {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}

