@import './mixins.scss';
@import './style.scss';

.button {
    font-weight: 700;
    font-size: toRem(12);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #040a0a;
    padding: toRem(16) toRem(50);
    background-color: $cyanic;
    transition: all 0.3s ease;
    @media (any-hover: hover){
        &:hover{
            color: #fff;
            background-color: $activeColor;    
        }
    }
    @media (max-width:$mobileSmall){
        padding: toRem(12) toRem(35);      
    }
    &--outlined {
        color: #fff;
        background-color: transparent;
        border: toRem(1) solid #fff;  
        @media (any-hover: hover){
            &:hover{
                color: #040a0a;
                background-color: $cyanic;  
                border: toRem(1) solid $cyanic;  
            }
        }  
    }
    
}
